extends ../slides-src/layout.pug
block variables
	- title = 'Capacitación React - Primera Parte'
	- theme = 'moon'
block slides
	section
		h1 Flex Box Layout
		//- h3 Lorem ipsum dolor sit amet.
		p
			small By Santiago Pernigotti
	//- section indice
	section
		h2 Qué es Flex box?
		p.fragment Un modelo de layout, es decir define cómo se muestran los elementos y cómo se relacionan con el resto.
		p.fragment Presenta una forma sencilla y más eficiente de alinear y distribuir "items" en un contenedor.
		
	section
		h2 Layout modes
		ul
			li block layout
			li inline layout
			li table layout
			li positioned layout
			li.fragment flexbox layout
			li.fragment grid layout (comming soon)
	section
		h2 Soporte de navegadores
		p
			a(href="http://caniuse.com/#search=flexbox" target="_blank")
				+img('browser-support.png')
	section
		h2 Qué podemos hacer con flex box?
		ul
			li Alinear elementos sobre el eje horizontal o vertical
			li Alinear los elementos con respecto a sus hermanos
			li Redefinir el orden en el que aparecen los elementos
			li Definir la orientación en el que van a aparecer los elementos
			li Tamaños flexibles para las cajas
			li Elementos hermanos con igual alto
			li.fragment y mucho más...

	section
		h3 Terminología
		p
			+img('terminologia1.jpg')
	section
		h3 Terminología
		p
			+img('terminologia2.jpg')
	section
		h3 Terminología
		p
			+img('flex-terms.png')
	section
		h2 Que empiece la magia
		pre.fragment
			code.html(data-trim).
				<div class="flex-container">
				  <div class="flex-item">item 1</div>
				  <div class="flex-item">item 2</div>
				  <div class="flex-item">item 3</div>
				</div>
		pre.fragment
			code.css(data-trim).
				.flex-container {
				  display: flex;
				}
	section
		h2 Definición de ejes y orientación
		h3 flex-direction
		div
			ul
				li 
					| row 
					em(style="color: #5e5e5e") (default)
				li row-reverse
				li column
				li column-reverse
	section
		h2 Alineación sobre el main axis
		h3 justify-content
		div
			ul
				li 
					| flex-start 
					em(style="color: #5e5e5e") (default)
				li flex-end
				li center
				li space-between
				li space-around
	section
		h2 Alineación sobre el cross axis
		h3 align-items
		div
			ul
				li 
					| stretch 
					em(style="color: #5e5e5e") (default)
				li flex-start
				li flex-end
				li center
				li baseline
	section
		h2 Alineación sobre el cross axis multilinea
		h3 align-items
		div
			ul
				li 
					| stretch 
					em(style="color: #5e5e5e") (default)
				li flex-start
				li flex-end
				li center
				li baseline				
	section
		h2 Ordenación de flex-items
		h3 order
		div
			ul
				li 
					| number
					em(style="color: #5e5e5e") (default 0)
	section
		h2 Alargamiento de flex-items
		h3 flex-grow
		div
			ul
				li 
					| number
					em(style="color: #5e5e5e") (default 0)
	section
		h2 Achicamiento de flex-items
		h3 flex-shrink
		div
			ul
				li 
					| number
					em(style="color: #5e5e5e") (default 1)