* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial;
}
.title {
	text-align: center;
	padding: 10px 0;
}

.flex-container {
	width: 500px;
	max-width: 100%;
	height: 300px;
	margin: auto;
	margin-top: 20px;
	background: #dadada;
	display: flex;
	flex-wrap: wrap;
	/*align-content: center;*/
}


.flex-item {
	background: indianred;
	height: 40px;
	width: 80px;
}

.flex-item:nth-child(odd) {
	background: mediumseagreen;
}
